<!DOCTYPE html>
{% include topcomment.html %}
<html lang="{{ site.lang }}">

  {% include head.html %}

  <body class="landing">

    <!-- Page Wrapper -->
    <div id="page-wrapper">

      {% include header.html %}

        <!-- Banner -->
          <section id="banner">
            <div class="inner">
                <img class="round-image" src="{{ site.baseurl }}/images/me.png"
                alt="My profile picture" /><br/><br/>
              <h1>{{ site.title }}</h1>
              <p>{{ site.description }}</p>
              <!--
              <ul class="actions">
                <li><a href="#" class="button special">Activate</a></li>
              </ul>
              -->
            </div>{%
            if site.greeting %}
            <a href="#greeting" class="more scrolly">Get to know me better</a>{%
            else %}
            <a href="#landing_pages" class="more scrolly">Get to know me better</a>{%
            endif %}
          </section>
          {%
          if site.greeting %}
        <!-- One -->
          <section id="greeting" class="wrapper style1 special">
            <div class="inner">
              <header class="major">
                <h2>{% if site.greeting.title %}{{ site.greeting.title }}{% else %}{{ site.title }}{% endif %}</h2>
                <p>{% if site.greeting.text %}{{ site.greeting.text | markdownify }}{% else %}{{ site.description | markdownify }}{% endif %}</p>
              </header>
              <ul class="icons major">
                <li><a target="_blank" href="{{ site.social.linkedin-square }}" class="icon fa-linkedin-square major style1"><span class="label">LinkedIn</span></a></li>
                <li><a target="_blank" href="{{site.social.email }}" class="icon fa-envelope major style3"><span class="label">E-mail</span></a></li>
                <li><a target="_blank" href="{{ site.social.file-text }}" class="icon fa-file-text major style2"><span class="label">CV</span></a></li>
              </ul>
            </div>
          </section>{%
          endif %}

        <!-- Two -->
          <section id="landing_pages" class="wrapper alt style2">{%
            for highlight in site.highlights %}
            <section class="spotlight">
              <div class="image">
                <img src="{{ site.baseurl }}/images/{{ highlight[0] }}.jpg"
                     alt="{{ highlight.title }}" />
              </div>
              <div class="content-wrap">
              
              <div class="content">
                <h2>{{ highlight[1].title }}</h2>
                <p>{{ highlight[1].description }}</p>
              </div>
              </div>
            </section>{%
            endfor %}
          </section>

        <!-- Three -->
          <section id="landing_features" class="wrapper style3 special">
            <div class="inner">
              <header class="major">
                <h2>Don't trust me, ask them!</h2>
                <!-- <p>Blog posts with decent content</p> -->
              </header>
              <ul class="features">{%
                  for testimonial in site.testimonials %}
                <li class=""><!-- featured:{{ i }} -->
                  <div class="container">
                      <img class="round-image smaller" src="{{ site.baseurl }}/images/{{testimonial[0]}}.jpeg"
                      alt="My profile picture" /><br/><br/>
                    <h3>{{ testimonial[1].name }}</h3>
                    <h4>{{ testimonial[1].position }}</h4>
                    <p><em>{{ testimonial[1].feedback }}</em></p>
                  </div>
                </li>{%
                endfor %}
              </ul>
            </div>
          </section>

      {% include footer.html %}

      {% include scripts.html %}

    </div>

  </body>

</html>